<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>总票房榜</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>


  <!-- =======================================================
  * Template Name: Squadfree
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/squadfree-free-bootstrap-template-creative/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between position-relative">

      <div class="logo">
        <h1 class="text-light"><a href="index.html"><span>最佳上座榜</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="static/assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href=/index>回到首页</a></li>
          <li class="dropdown"><a href="#"><span>更多内容</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href=/inner4>总票房榜</a></li>
              <li><a href=/avgtval>平均票价榜</a></li>
            </ul>
          </li>
          <li class="dropdown "><a href="#"><span>其他榜单</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li>
                <a href=/inner1>中外票房榜</a>
                <a href=/inner2>年度票房榜</a>
                <a href=/inner3>类型分布图</a>
              </li>
            </ul>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">
      <div id="504ec1274a3c43f0a1c4cd5da3a78079" class="chart-container" style="width:2000px; height:1000px; "></div>


  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>
 <script>
        var chart_504ec1274a3c43f0a1c4cd5da3a78079 = echarts.init(
            document.getElementById('504ec1274a3c43f0a1c4cd5da3a78079'), 'white', {renderer: 'canvas'});
        var option_504ec1274a3c43f0a1c4cd5da3a78079 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "bar",
            "name": " \u7535\u5f71\u540d",
            "legendHoverLink": true,
            "data": [
                "67.0",
                "48.0",
                "44.0",
                "44.0",
                "39.0",
                "38.0",
                "36.0",
                "36.0",
                "36.0",
                "36.0",
                "33.0",
                "33.0",
                "33.0",
                "31.0",
                "31.0",
                "31.0",
                "30.0",
                "30.0",
                "29.0",
                "29.0",
                "28.0",
                "28.0",
                "27.0",
                "27.0",
                "27.0",
                "27.0",
                "27.0",
                "27.0",
                "27.0",
                "26.0",
                "25.0",
                "25.0",
                "25.0",
                "25.0",
                "25.0"
            ],
            "realtimeSort": false,
            "showBackground": false,
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": false,
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                " \u7535\u5f71\u540d"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u9001\u4f60\u4e00\u6735\u5c0f\u7ea2\u82b1",
                "\u6e29\u6696\u7684\u62b1\u62b1",
                "\u7f8e\u4eba\u9c7c",
                "\u6349\u5996\u8bb02",
                "\u5510\u4eba\u8857\u63a2\u68482",
                "\u6218\u72fc2",
                "\u6211\u548c\u6211\u7684\u7956\u56fd",
                "\u897f\u6e38\u8bb0\u4e4b\u5b59\u609f\u7a7a\u4e09\u6253\u767d\u9aa8\u7cbe",
                "\u897f\u6e38\u4f0f\u5996\u7bc7",
                "\u6fb3\u95e8\u98ce\u4e913",
                "\u529f\u592b\u745c\u4f3d",
                "\u7ea2\u6d77\u884c\u52a8",
                "\u897f\u6e38\u8bb0\u5973\u513f\u56fd",
                "\u5510\u4eba\u8857\u63a2\u68483",
                "\u5927\u95f9\u5929\u7afa",
                "\u5510\u4eba\u8857\u63a2\u6848",
                "\u75af\u72c2\u7684\u5916\u661f\u4eba",
                "\u901f\u5ea6\u4e0e\u6fc0\u60c58",
                "\u75af\u72c2\u52a8\u7269\u57ce",
                "\u6d41\u6d6a\u5730\u7403",
                "\u897f\u8679\u5e02\u9996\u5bcc",
                "\u82b3\u534e",
                "\u6211\u4e0d\u662f\u836f\u795e",
                "\u76d7\u5893\u7b14\u8bb0",
                "\u60ca\u5929\u9b54\u76d7\u56e22",
                "\u4e58\u98ce\u7834\u6d6a",
                "\u5bd2\u62182",
                "\u524d\u4efb3\uff1a\u518d\u89c1\u524d\u4efb",
                "\u4e2d\u56fd\u673a\u957f",
                "\u4e00\u51fa\u597d\u620f",
                "\u6e44\u516c\u6cb3\u884c\u52a8",
                "\u7f8e\u56fd\u961f\u957f3\uff1a\u82f1\u96c4\u5185\u6218",
                "\u529f\u592b\u718a\u732b3",
                "\u957f\u57ce",
                "\u7f9e\u7f9e\u7684\u94c1\u62f3"
            ]
        }
    ],
    "yAxis": [
        {
            "name": " \u5e73\u5747\u4eba\u6570 ",
            "show": true,
            "scale": false,
            "nameLocation": "center",
            "nameGap": 1,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "show": true,
            "text": " \u6700\u4f73\u4e0a\u5ea7\u7535\u5f71TOP35 ",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_504ec1274a3c43f0a1c4cd5da3a78079.setOption(option_504ec1274a3c43f0a1c4cd5da3a78079);
    </script>

</body>

</html>