<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Portfolio Details - Squadfree Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Squadfree
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/squadfree-free-bootstrap-template-creative/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between position-relative">

      <div class="logo">
        <h1 class="text-light"><a href=/tuijian><span>电影推荐</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="static/assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href=/index>回到首页</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">



    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details1">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="static/assets/img/portfolio/portfolio-1.jpg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="static/assets/img/portfolio/portfolio-10.png" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="static/assets/img/portfolio/portfolio-11.png" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>卧虎藏龙</h3>
              <ul>
                <li><strong>电影类型</strong>: 剧情 / 爱情 / 武侠</li>
                <li><strong>拍摄国家</strong>: 中国台湾 / 中国香港 / 美国 / 中国大陆</li>
                <li><strong>上映日期</strong>: 2000-10-13(中国大陆) / 2000-07-07(中国台湾) / 2000-05-16(戛纳电影节)</li>
                <li><strong>主演</strong>:  周润发 / 杨紫琼 / 章子怡 / 张震 / 郎雄 </li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>剧情介绍</h2>
              <p>
一代大侠李慕白（周润发饰）有退出江湖之意，托付红颜知己俞秀莲（杨紫琼饰）将青冥剑转交给贝勒爷（郎雄饰）收藏，不料当夜遭玉娇龙（章子怡）窃取。俞秀莲暗中查访也大约知道是玉府小姐玉蛟龙所为，她想办法迫使玉蛟龙归还宝剑，免伤和气。但李慕白发现了害死师傅的碧眼狐狸（郑佩佩饰）的踪迹，她隐匿于玉府并收玉蛟龙为弟子。而玉蛟龙欲以青冥剑来斩断阻碍罗小虎（张震饰）的枷锁，他们私定终身。关系变得错综复杂，俞秀莲和李慕白爱惜玉蛟龙人才难得，苦心引导，但玉蛟龙却使性任气不听劝阻……              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->
      <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="static/assets/img/portfolio/portfolio-4.jpg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="static/assets/img/portfolio/portfolio-12.png" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="static/assets/img/portfolio/portfolio-13.png" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>沉默的羔羊</h3>
              <ul>
                <li><strong>电影类型</strong>: 剧情 / 惊悚 / 犯罪</li>
                <li><strong>拍摄国家</strong>: 美国</li>
                <li><strong>上映日期</strong>: 1991-02-14(美国)</li>
                <li><strong>主演</strong>: 朱迪·福斯特 / 安东尼·霍普金斯 / 斯科特·格伦 / 安东尼·希尔德 / 布鲁克·史密斯</li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>剧情介绍</h2>
              <p>
联调局学院学员 Clarice M. Starling（乔迪·福斯特 饰）受行为科学组的 Jack Crawford（斯科特·格伦 饰）指派，前往州立巴尔的摩法医院访问被监禁的精神科医生 Hannibal Lecter（安东尼·霍普金斯 饰）。Lecter要求转到条件较 好的联邦机构，远离常常折磨他的 Frederick Chilton 医生（安东尼·希尔德 饰），并愿意为此提供持续作案的连环杀手水牛比尔（泰德·莱文 饰）的心理分析……              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->
      <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="static/assets/img/portfolio/portfolio-5.jpg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="static/assets/img/portfolio/portfolio-14.png" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="static/assets/img/portfolio/portfolio-15.png" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>天空之城</h3>
              <ul>
                <li><strong>电影类型</strong>: 动画 / 奇幻 / 冒险</li>
                <li><strong>拍摄国家</strong>: 日本</li>
                <li><strong>上映日期</strong>: 田中真弓 / 横泽启子 / 初井言荣 / 寺田农 / 常田富士男</li>
                <li><strong>主演</strong>: www.example.com</li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>剧情介绍</h2>
              <p>
古老帝国拉普达是一座漂浮在空中的巨大的机器岛，传说那里已经无人居住，蕴藏着巨大的财富。因此，无论军方还是海盗，都在找寻着这座传说中的飞行岛。
　　矿工巴鲁这天偶遇拉普达继承人希达，两人一见如故。因为希达身上有找寻拉普达帝国的重要物件飞行石，军方和海盗两帮人马都在追杀希达。巴鲁带着希达一起逃亡，最终都没有逃出军方的手中，希达被军队掳走了。
　　为救朋友，只能选择与海盗合作。巴鲁与海盗成功救出了希达，同时，他们也发现了军方的邪恶计划。为了阻止军方邪恶计划的实施，他们和海盗一起踏上了寻找拉普达之旅。              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->
  </main><!-- End #main -->



  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>